In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re

url = "https://www.beeradvocate.com/beer/top-rated/"

data = requests.get(url)
page = BeautifulSoup(data.text)
#my_page = page.get_text()

#Gets all elements in table
table = page.find("table")
rows = list()

#Puts all the links in a list
links = []
names = []

for link in table.find_all("a",href=True):
    links.append(link['href'])
    names.append(link.get_text())
    
#Creates Dataframe with all the needed links
links = pd.DataFrame(links)
names = pd.DataFrame(names)

df_names = pd.DataFrame(names.values.reshape(250,3))
df_final = pd.DataFrame(links.values.reshape(250,3))

df_final.columns = ["Beer","Company","Beer Type"]
df_final.insert(loc=0,column="Name",value=df_names[0])
df_final

,Name,Beer,Company,Beer Type
0,Kentucky Brunch Brand Stout,/beer/profile/23222/78820/,/beer/profile/23222/,/beer/top-styles/157/
1,Vanilla Bean Assassin,/beer/profile/23222/113831/,/beer/profile/23222/,/beer/top-styles/157/
2,Marshmallow Handjee,/beer/profile/26/42349/,/beer/profile/26/,/beer/top-styles/84/
3,Abraxas - Barrel-Aged,/beer/profile/25888/87246/,/beer/profile/25888/,/beer/top-styles/157/
4,Heady Topper,/beer/profile/46317/16814/,/beer/profile/46317/,/beer/top-styles/140/
...,...,...,...,...
245,Kentuckley,/beer/profile/34258/237135/,/beer/profile/34258/,/beer/top-styles/157/
246,Schaarbeekse Kriek,/beer/profile/2216/17647/,/beer/profile/2216/,/beer/top-styles/10/
247,Red Eye November,/beer/profile/33824/201187/,/beer/profile/33824/,/beer/top-styles/84/
248,Flora,/beer/profile/22511/62290/,/beer/profile/22511/,/beer/top-styles/129/
249,Coolship Red,/beer/profile/4/58839/,/beer/profile/4/,/beer/top-styles/10/

In [4]:
#GIGA SCRAPER

f = 0
# Results = pd.DataFrame(columns=['Product','UserRating','Reviews'])

rating = []
review = []
ProductList = []
ProductList2 = []
my_reviews =[]

for j in df_final['Beer']:
    #iterates through all links
    url = "https://www.beeradvocate.com/beer/" + j

    data = requests.get(url)
    page = BeautifulSoup(data.text)

    reviews = []
    for tag in page.find_all(id="rating_fullview_container"):
        reviews.append(tag.get_text())
    reviews = pd.DataFrame(reviews)

    print(df_final["Name"][f])
    ProductList2.append(df_final["Name"][f])
    # rating = []
    # review = []

    #gets the title
    Product = str(page.select('h1'))
    Product = re.search('>(.*)<br',Product)
    #Product = Product.group()


    # ProductList = []

    strings = []

    for i in reviews: #TO RUN ALL, DELETE THE [0]
        ProductList.append(Product)
        print(Product)
        first_word = i.split()[0]
        
        #Small Easy Reviews
        if first_word == "Rated:" or first_word == "Rated":
            review.append(i)
            rating.append(i.split()[1])    
            
        #Bigger Reviews Getting overall score, HARD TO GET JUST THE NUMBER CHARACTER
        elif first_word == "Reviewed":
            #Gets overall review
            review.append(i)
            splitstring = i.split("|")[4].split(" ")[2]
            splitstring = splitstring[0:4]

            #print(splitstring[0])
            if splitstring[0] == "5":
                
                strings.append(splitstring[0])
                # add decimal if a 5 W
                print("hi")

            #print(splitstring)
            strings.append(splitstring)
            
            #Come back to this for fixing rating
            rating.append(splitstring)

        else:
            print(first_word)
            rating.append("N/A")

    Results = pd.DataFrame([Product,rating,review]).T
    f = f +1
    Results.columns = ['Product','UserRating',"Reviews"]

Kentucky Brunch Brand Stout
None

AttributeError: 'int' object has no attribute 'split'

In [10]:
# f = 0
# # Results = pd.DataFrame(columns=['Product','UserRating','Reviews'])

# # rating = []
# # review = []

# data = requests.get(url)
# page = BeautifulSoup(data.text)

# reviews = []
# for tag in page.find_all(id="rating_fullview_container"):
#     reviews.append(tag.get_text())
# reviews = pd.DataFrame(reviews)

# print(df_final["Name"][f])

# Product = df_final["Name"][f]
# rating = []
# review = []

# strings = []

# for i in reviews: #TO RUN ALL, DELETE THE 0

#     first_word = i.split()[0]
    
#     #Small Easy Reviews
#     if first_word == "Rated:" or first_word == "Rated":
#         rating.append(i.split()[1])    
        
#     #Bigger Reviews Getting overall score, HARD TO GET JUST THE NUMBER CHARACTER
#     elif first_word == "Reviewed":
#         #Gets overall review
#         review.append(i)
#         splitstring = i.split("|")[4].split(" ")[2]
#         splitstring = splitstring[0:4]

#         #print(splitstring[0])
#         if splitstring[0] == "5":
            
#             strings.append(splitstring[0])
#             # add decimal if a 5 W
#             print("hi")

#         #print(splitstring)
#         strings.append(splitstring)
        
#         #Come back to this for fixing rating
#         rating.append(splitstring)

#     else:
#         print(first_word)
#         rating.append("N/A")

# Results = pd.DataFrame([Product,rating,review]).T
# f = f +1
# Results.columns = ['Product','UserRating',"Reviews"]

In [23]:
#Works for single files

#product name, product review, user rating

#need to have it go through a loop of each value in beer column, beeradv+link 

url = "https://www.beeradvocate.com/beer/profile/23222/78820/"
url = "https://www.beeradvocate.com/beer/profile/23222/113831/"
url = "https://www.beeradvocate.com/beer/profile/26/42349/"
url = "https://www.beeradvocate.com/beer/profile/25888/87246/"
url = "https://www.beeradvocate.com/beer/profile/46317/16814/"

data = requests.get(url)
page = BeautifulSoup(data.text)

#Gets each review in a dataframe
reviews = []
for tag in page.find_all(id="rating_fullview_container"):
    reviews.append(tag.get_text())
reviews = pd.DataFrame(reviews)

rating = []
strings = []
review = []

Product = str(page.select('h1'))
Product = re.search('>(.*)<br',Product)
Product = Product.group(1)

ProductList = []
# print(reviews[0])

for i in reviews[0]:
    ProductList.append(Product)
    first_word = i.split()[0]
    
    #Small Easy Reviews
    if first_word == "Rated:" or first_word == "Rated":
        review.append("N/A") #Makes sure that each review belongs to same user
        rating.append(i.split()[1])    
        
    #Bigger Reviews Getting overall score, HARD TO GET JUST THE NUMBER CHARACTER
    elif first_word == "Reviewed":
        review.append(i) #Gets overall review into list

        splitstring = i.split("|")[4].split(" ")[2]
        splitstring = splitstring[0:4]

        #print(splitstring[0])
        if splitstring[0] == "5":
            
            strings.append(splitstring[0])
            # add decimal if a 5 W
            # print("hi")

        #print(splitstring)
        strings.append(splitstring)
        
        rating.append(splitstring)
    else:
        print(first_word)
        rating.append("N/A")
Results = pd.DataFrame([ProductList,rating,review]).T
Results.columns = ['Product','UserRating',"Reviews"]
#Results.to_csv(Product+" beer .csv")
Results

         Product UserRating                                            Reviews
0   Heady Topper          5                                                N/A
1   Heady Topper       4.49                                                N/A
2   Heady Topper       4.54                                                N/A
3   Heady Topper       4.75                                                N/A
4   Heady Topper       4Pou  Reviewed by BigIronH from Michigan4/5Â Â rDev -1...
5   Heady Topper       3.75  Reviewed by VALIS666 from Massachusetts4.12/5Â ...
6   Heady Topper        4.3                                                N/A
7   Heady Topper       4.5C  Reviewed by jzeilinger from Pennsylvania4.46/5...
8   Heady Topper       4.75  Reviewed by izraelc from New York4.75/5Â Â rDev ...
9   Heady Topper          5                                                N/A
10  Heady Topper       4.92                                                N/A
11  Heady Topper       4.75  Reviewed by jdhops from Tennessee4.74/5Â Â rDev ...
12  Heady Topper          5                                                N/A
13  Heady Topper        2.5                                                N/A
14  Heady Topper       4.71                                                N/A
15  Heady Topper       4.47                                                N/A
16  Heady Topper       4.75  Reviewed by Amendm from Florida4.74/5Â Â rDev +0...
17  Heady Topper       4.75  Reviewed by Yogary4.75/5Â Â rDev +0.8%look: 4.75...
18  Heady Topper       3.95                                                N/A
19  Heady Topper          5                                                N/A
20  Heady Topper       4Iâ€™m  Reviewed by SaCkErZ9 from South Carolina4.15/5...
21  Heady Topper         by                                                N/A
22  Heady Topper       4.53                                                N/A
23  Heady Topper       4.53                                                N/A
24  Heady Topper       4.75                                                N/A
25  Heady Topper       4.75  Reviewed by TheBricenator from Oregon4.84/5Â Â r...
26  Heady Topper       4.25  Reviewed by dano213 from Pennsylvania4.24/5Â Â r...
27  Heady Topper         by                                                N/A
28  Heady Topper       4.52                                                N/A
29  Heady Topper       4.27                                                N/A
30  Heady Topper         by                                                N/A
31  Heady Topper       4.74                                                N/A
32  Heady Topper       4.38                                                N/A
33  Heady Topper       3.5V  Reviewed by LarryV from Massachusetts3.72/5Â Â r...
34  Heady Topper       4.27                                                N/A
35  Heady Topper       4.5A  Reviewed by bbtkd from South Dakota4.4/5Â Â rDev...
36  Heady Topper       4May  Reviewed by jjamadorphd from Florida3.84/5Â Â rD...
37  Heady Topper         by                                                N/A
38  Heady Topper       3.61                                                N/A
39  Heady Topper        4.7                                                N/A

In [ ]:
#gets the title
# import re

# Product = str(page.select('h1'))
# Product = re.search('>(.*)<br',Product)
# Product = Product.group(1)